* {
  margin: 0px;
  padding: 0px;
}

/* Header */

.header {
  background-color: #292D33;
  width: 100%;
  display: flex;
  align-items: center;
}

.header__s1 {
  background-color: #F67A37;
  z-index: 1;
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
  width: 30%;
  height: 145px;
}

.header__s1 img {
  margin-top: 2%;
  width: 70%;
  height: 100%;
}

.header__s2 {
  margin-left: auto;
  color: white;
  display: flex;
  gap: 30px;
}

.header__s2__email,
.header__s2__phone,
.header__s2__search {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__s2__email img,
.header__s2__phone img,
.header__s2__search img {
  width: 30px;
  height: 30px;
}

.header__s2__search {
  padding: 10px;
  display: flex;
  gap: 5px;
  align-items: center;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.10);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 8px 4px 0 rgba(0, 0, 0, 0.25) inset;
  width: 40%;
  padding-right: 20px;
}

.header__s2__search img {
  cursor: pointer;
}

.header__s2__search input {
  background-color: transparent;
  outline: none;
  border: none;
  padding: 10px;
  font-size: 20px;
  color: white;
  width: 100%;
}

/* Navbar */

.navbar {
  display: flex;
  gap: 20px;
  padding: 20px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.navbar a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.navbar__sub {
  display: flex;
  gap: 10px;
  align-items: center;
}

.navbar__sub img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

#dropup {
  display: none;
}

/* Shop Dropdown Menu */

.navbar__shop__dropdown {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 30px;
  background: linear-gradient(180deg, rgba(41, 45, 51, 0.94) 0%, rgba(123, 135, 153, 0.94) 100%);
  width: fit-content;
  position: absolute;
  top: 29%;
  left: 28%;
  z-index: 2;
  display: none;
}

.navbar__shop__dropdown a {
  text-decoration: none;
  color: #F67A37;
  padding-bottom: 30px;
  font-size: 20px;
}


.responsive__navbar {
  display: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.responsive__navbar__s1 img {
  padding: 20px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.responsive__navbar__s2__phone,
.responsive__navbar__s2__email {
  display: flex;
  gap: 10px;
  font-size: 10px;
  color: white;
  align-items: center;
  margin-right: 50px;
}

.responsive__navbar__s2__phone img,
.responsive__navbar__s2__email img {
  width: 20px;
  height: 20px;
}

.responsive__navbar__s2 {
  padding: 25px;
  color: white;
  background: linear-gradient(135deg, #292D33, #737373);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* Background Image */

.background__image {
  position: relative;
}

.background__image img {
  width: 100%;
  height: auto;
}

/* Header Image */

.header__image {
  position: absolute;
  top: 0px;
  padding: 20px;
  padding-top: 40px;
  margin-bottom: 20px;
}

/* Company Introduction */

.company__introduction {
  position: absolute;
  top: 16%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2%;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  width: 97%;
  left: 1.5%;

}

.company__introduction__s1 img {
  width: 90%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background: lightgray 50% / cover no-repeat;
}

.company__introduction__s2__sub {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15%;
  padding: 20px;
  padding-top: 10%;
}

.company__introduction__s2__sub h1 {
  font-size: 80px;
}

.company__introduction__s2__sub p {
  width: 100%;
}

.company__introduction__s2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.company__introduction__s2__sub__sub {
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.60);
  padding: 20px;
  width: 80%;
  margin-top: 20px;
}

.company__introduction__s2__sub__sub p {
  width: fit-content;
  text-align: center;
  color: white;
}


/* Responsive Design */

@media screen and (max-width:1000px) {

  .header__s1 {
    width: 40%;
    height: 100px;
  }

  .header {
    font-size: 10px;
  }

  .header__s2 {
    gap: 20px;
  }

  .header__s2__email,
  .header__s2__phone,
  .header__s2__search {
    gap: 10px;
  }

  .header__s2__email img,
  .header__s2__phone img,
  .header__s2__search img {
    width: 20px;
    height: 20px;
  }

  .header__s2__search {
    width: 60%;
    padding: 5px;
    margin: 10px;
  }

  .header__s2__search input {
    font-size: 14px;
    padding: 5px;
  }

  .header__s2__search {
    width: 100%;
  }

  .header__s2__email,
  .header__s2__phone {
    display: none;
  }

  .navbar {
    display: none;
  }

  .responsive__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}