* {
  margin: 0px;
  padding: 0px;
}

/* Header */

.header {
  background-color: #292D33;
  width: 100%;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 3;
}

.header__s1 {
  background-color: #F67A37;
  z-index: 1;
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
  width: 30%;
  height: 145px;
}

.header__s1 img {
  margin-top: 2%;
  width: 70%;
  height: 100%;
}

.header__s2 {
  margin-left: auto;
  color: white;
  display: flex;
  gap: 30px;
}

.header__s2__email,
.header__s2__phone,
.header__s2__search {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__s2__email img,
.header__s2__phone img,
.header__s2__search img {
  width: 30px;
  height: 30px;
}

.header__s2__search {
  padding: 10px;
  display: flex;
  gap: 5px;
  align-items: center;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.10);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 8px 4px 0 rgba(0, 0, 0, 0.25) inset;
  width: 40%;
  padding-right: 20px;
}

.header__s2__search img {
  cursor: pointer;
}

.header__s2__search input {
  background-color: transparent;
  outline: none;
  border: none;
  padding: 10px;
  font-size: 20px;
  color: white;
  width: 100%;
}

/* Navbar */

.navbar {
  display: flex;
  gap: 20px;
  padding: 20px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  /* position: sticky;
  background-color: white;
  z-index: 3;
  top: 145px; */
}

.navbar a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.navbar__sub p {
  cursor: pointer;
  font-size: 18px;
}

.navbar__sub {
  display: flex;
  gap: 10px;
  align-items: center;
  position: relative;
}

.navbar__sub img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

#dropup {
  display: none;
}

/* Shop Dropdown Menu */

.navbar__shop__dropdown {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 30px;
  background: linear-gradient(180deg, rgba(41, 45, 51, 0.94) 0%, rgba(123, 135, 153, 0.94) 100%);
  width: 100%;
  position: absolute;
  top: 200%;
  left: -30px;
  z-index: 2;
  display: none;
}

.navbar__shop__dropdown a {
  text-decoration: none;
  color: #F67A37;
  padding-bottom: 30px;
  font-size: 20px;
}

/* Responsive Navbar */

.responsive__navbar {
  display: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.responsive__navbar__s1 img {
  padding: 20px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.responsive__navbar__s2__phone,
.responsive__navbar__s2__email {
  display: flex;
  gap: 10px;
  font-size: 10px;
  color: white;
  align-items: center;
  margin-right: 50px;
}

.responsive__navbar__s2__phone img,
.responsive__navbar__s2__email img {
  width: 20px;
  height: 20px;
}

.responsive__navbar__s2 {
  padding: 25px;
  color: white;
  background: linear-gradient(135deg, #292D33, #737373);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* Responsive Side Navbar */

.responsive__side__navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed; 
  top: 220px;
  left: -80%;
  height: calc(100vh - 220px);
  width: 50%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; 
  background: linear-gradient(180deg, #D9D9D9 0%, #737373 100%);
  z-index: 5;
  gap: 10px;
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px;
  padding-bottom: 50px; 
  padding-top: 30px;
  box-sizing: border-box;
}
.responsive__side__navbar__close {
  position: absolute;
  right: 0px;
}

.responsive__side__navbar a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  padding: 20px;
}

.responsive__side__navbar p {
  cursor: pointer;
  font-size: 18px;
  padding: 20px;
}

.side__navbar__sub__s1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.side__navbar__sub__s1 img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.side__navbar__sub__s2{
  display: none;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-left: 30px;
}

#sidebardropup{
  display: none;
}

/* Background Image */

.background__image {
  position: relative;
  width: 100%;
  background-image: url('./Images/Group 22.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  padding-bottom: 50px;
  overflow: hidden;
}

/* Header Image */

.header__image {
  position: relative;
  text-align: center;
  margin: 20px;
  margin-bottom: 0px;
  margin-top: 20px;
}

.header__image img {
  width: 100%;
}

/* Company Introduction */

.company__introduction {
  position: relative;
  top: auto;
  margin: 0 auto 50px auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2%;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  margin: 20px;
}

.company__introduction__s1 img {
  width: 90%;
  height: auto;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background: lightgray 50% / cover no-repeat;
}

.company__introduction__s2__sub {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15%;
  padding: 20px;
  padding-top: 10%;
}

.company__introduction__s2__sub h1 {
  font-size: 80px;
}

.company__introduction__s2__sub p {
  width: 100%;
}

.company__introduction__s2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.company__introduction__s2__sub__sub {
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.60);
  padding: 20px;
  width: 80%;
  margin-top: 20px;
}

.company__introduction__s2__sub__sub p {
  width: fit-content;
  text-align: center;
  color: white;
}

/* Solutions */

.solutions__container {
  position: relative;
  top: auto;
  margin: 0 auto 50px auto;
  padding: 20px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  margin: 20px;
}

.solutions__container h1 {
  font-size: 40px;
  margin-bottom: 20px;
  text-align: center;
}

.solutions {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.solutions__cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: white 1px solid;
  border-radius: 20px;
  width: 15%;
  background-color: white;
  padding: 30px;
  margin-bottom: 50px;
  transition: 1s;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  flex-grow: 1;

}

.solutions__cards img {
  height: 60px;
  width: 60px;
}

.solutions__cards:hover {
  transition: 1s;
  transform: scale(1.2);
}

/* Products */

.products {
  position: relative;
  top: auto;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  margin: 20px;
}

.products h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
}

.products__cards__sub {
  width: 28%;
}

.products__cards__sub img {
  width: 100%;
  border-radius: 20px;
}

.products__cards {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  flex-basis: 1;
  flex-wrap: wrap;
  flex-grow: 1;
}

/* Brand */

.brand {
  position: relative;
  top: auto;
  margin: 0 auto 50px auto;
  padding: 20px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  margin: 20px;
}

.brand h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
}

.brand__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.brand__cards__sub img {
  width: 100%;
}

/* Footer */

.footer {
  position: relative;
  top: auto;
  margin: 0 auto 50px auto;
  padding: 20px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  margin: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  color: white;
}

.footer__s1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__s1 p {
  font-size: 14px;
  line-height: 1.4;
}

.footer__s2 {
  text-align: center;
}

.footer__s2__icons {
  display: flex;
  gap: 20px;
}

.footer__s2__icons img {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

.footer__s3__icons {
  display: flex;
  gap: 20px;
}

.footer__s3__icons img {
  width: 100px;
  height: 30px;
  cursor: pointer;
}

.go__to__top__button {
  position: fixed;
  bottom: 20px;
  right: 30px;
  width: fit-content;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  background: linear-gradient(to bottom, #D9D9D9, #737373);
  margin-bottom: 30px;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
  z-index: 100;
}

.go__to__top__button.active {
  opacity: 1;
  pointer-events: auto;
  transition: 0.4s
}

.go__to__top__button img {
  width: 30px;
  height: 30px;
}

/* Responsive Design */

@media screen and (max-width:1000px) {

  .header__s1 {
    width: 40%;
    height: 100px;
  }

  .header {
    font-size: 10px;
  }

  .header__s2 {
    gap: 20px;
  }

  .header__s2__email,
  .header__s2__phone,
  .header__s2__search {
    gap: 10px;
  }

  .header__s2__email img,
  .header__s2__phone img,
  .header__s2__search img {
    width: 20px;
    height: 20px;
  }

  .header__s2__search {
    width: 60%;
    padding: 5px;
    margin: 10px;
  }

  .header__s2__search input {
    font-size: 14px;
    padding: 5px;
  }

  .header__s2__search {
    width: 100%;
  }

  .header__s2__email,
  .header__s2__phone {
    display: none;
  }

  .navbar {
    display: none;
  }

  .responsive__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .company__introduction__s2__sub1 h1 {
    font-size: 20px;
  }

  .company__introduction__s2__sub2,
  .company__introduction__s2__sub__sub {
    font-size: smaller;
  }

  .company__introduction__s1 {
    display: none;
  }

  .solutions {
    display: block;
  }

  .solutions__cards {
    width: 80%;
    margin-left: 5%;
    margin-bottom: 0px;
    margin-right: 0px;
  }

  .solutions__cards:hover {
    transform: none;
  }

  .footer {
    display: block;
    gap: 0px;
    text-align: center;
  }

  .footer__s2,
  .footer__s3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }

  .footer__s1 p {
    height: fit-content;
  }
}